*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* #wrap{
    display: flex;
    justify-content: center;
    align-items: center;  
   
}  */
#main{
   background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height:100vh;
    justify-content: center;
    align-items: center; 
   
}

.wi{
    background-color: seagreen;
    border-radius: 20px;
    padding: 20px;
}
.w{
    text-align: center;
}

h1{
    margin-top: 40px;
}

#search{
   margin-top: 10px;
   border-radius:10px;
   padding: 10px;
   background-color: white;
   border: none;
   width: 200px;
   height: 40px;
   margin-bottom: 40px;
}
.btn1{
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.891) ;
    color: white;

}

.nameid{
    font-size: 35px;
    margin-top: 20px;
    /* background-color: whitesmoke; */
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 10px;
}

.role{
    font-size: 20px;
    /* background-color: whitesmoke; */
    width: 15em;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 20px;

}

.viewersection{
    display: flex;
    justify-content: center;
    /* width: 40em;
    height: 25em; */
    gap: 40px;
    padding: 20px;
    text-decoration: none;
   
}


.details{
    display:flex;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

}
#details{
    text-align: center;
    padding-top: 30px;
}

.img{
    width: 15empx;
    height: 15em;
    border-radius: 50%;
}

.btn2{
    width: 15em;
    height:40px;
    border: none;
    border-radius: 10px;
    background-color: seashell;
}